<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form action="/delete" method="POST" class="centered-form">
        <!-- Pre-filled input text field -->
        <input type="text" name="blog" class="input"  placeholder="Enter yes or no">
        <input type="submit" value=" Delete your blog? Type yes or no" class="submit-button">
    </form>
    <footer>
        <p>Copyright © from Ayush</p>
    </footer>
</body>
</html>