<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <style>
        h1{
            font-family: cursive;
            font-weight: bold;
            font-size:2rem;
        }
    </style>
</head>
<body>
    <h1> Write New blogs here!</h1>
    <form action="/newpost" method="POST" class="centered-form">
        <input type="text" name="blog" placeholder="Enter your blog here" class="input-text">
        <input type="submit" value="OK" class="submit-button">
    </form>
    <footer>
        <p>Copyright © from Ayush</p>
    </footer>
</body>
</html>
